<h1>Results:</h1>
{{#each this}}
        <div class="panel panel-primary">
            <form action="/scrape" method="post">
                <div class="panel-body">
                <h4 id="title{{article_num}}">{{title}}</h4>
            </div>
            <div class="panel-footer" id="desc{{article_num}}">
                {{desc}}
            </div>
                {{#if article_num}}<button type="submit" formmethod="post" id={{article_num}} class="saveButton">Save Article</button>{{/if}}
                {{#if _id}}
                    <button class="deleteButton" type="submit" formmethod="post" id={{_id}} class="saveButton">Delete Article</button>
                    <button class="addNoteButton" type="submit" formmethod="post" id={{article_num}} class="saveButton">Add Note</button>
                {{/if}}
            </form>
        </div>
{{/each}}
